<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DDL_Dataset.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\Database.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="DDL_Dataset.Properties.Settings.DatabaseConnectionString1"
            connectionString="Data Source=C:\Users\stanislav\Documents\Visual Studio 2010\Projects\DDL_Dataset\Morning_Chech\bin\Debug\Database.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>