<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ValidationLib.Properties.Settings.ConnectionString"
            connectionString="Data Source=C:\Users\Stanislav\Documents\ClinackDoseRateCheck\DoseRateInfoDtatBase.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
</configuration>